setuptools>=61.0
python-dotenv==1.1.0
fastapi<0.114.0,>=0.113.0
pydantic<3.0.0,>=2.7.0
uvicorn==0.34.0
python-multipart==0.0.20
openai==1.76.0
litellm==1.6.0
fastapi-sessions==0.3.2
crewai==0.5.0
pathlib
